html {
  background-color: beige;
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  width: 23%;
  height: 20rem ;
  background-color: #59515e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 1.3rem 3;
  box-shadow: 7px 7px 7px #000000;
  padding: 1%;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}